 body{
   background-color: grey;
 }

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.card{
  justify-content: center;
    width: 30%;
    border-radius: 25px;
    padding: 25px;
    background-color: white;
}

.login{
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  background-color: hsl(240, 100%, 50%);
  border: none;
  width: 100%;
  margin-top: 10px;
}
.Account{
    justify-content: left;
    border-radius: 4px;
}
/* 
 .card-text{
  align-items: center;
}  */